<div class=" container-widget-donut">
  <div class="widget-donut">
    <div class="card">
      <div class="widget-donut-title row" [style.color]='Color_titulo'>
        {{Titulo}}
      </div>
      <div class="content">
        <div class="widget-donut-big-number" [style.color]='Color_Valor_Enfasis'>{{Valor_Enfasis}}</div>
        <div class="product-image-donut" *ngIf='IconoGrafica'>
          <img class="image-product-tag" [src]="IconoGrafica">
        </div>
        <div class="canvas-div">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
        <div class="description-container">
          <div class="left-data">
            <h5 class="description-title" [style.color]='Color_descripcion1'>{{Descripcion1}}</h5>
            <p class="description-p" [style.color]='Color_descripcion2'>{{Descripcion2}}</p>
          </div>
          <div class="right-data">
            <h5 class="description-title" [style.color]='Color_descripcion3'>{{Descripcion3}}</h5>
            <p class="description-p" [style.color]='Color_descripcion4'>{{Descripcion4}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
