<div class="row justify-content-around">
  <div class="col-auto" *ngFor="let widget of widgets; let i = index">
    <div class="card">
      <div class="card-body p-2">
        <div class="row">
          <div class="col">
            <h6 class="text-muted" [ngStyle]="{'color': widget.Color_Titulo}">{{widget.Titulo}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <canvas baseChart [datasets]="barChartData[i]" [labels]="widget.listaEtiquetas" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
