<div class="row justify-content-start">
  <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let widget of widgets; let i = index">
    <div class="card">
      <div class="card-body p-1">
        <div class="row">
          <div class="col">
            <p class="m-2 font-weight-bold" [ngStyle]="{'color': widget.Color_Titulo}">{{widget.Titulo}}</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador1'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador1}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador1_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador1_Descrip2}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador2'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador2}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador2_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador2_Descrip2}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador3'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador3}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador3_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador3_Descrip2}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador4'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador4}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador4_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador4_Descrip2}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador5'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador5}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador5_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador5_Descrip2}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-10 m-0 p-1">
            <div class="row">
              <div class="col-4 p-1">
                <img [src]="widget.Icogra_Agrup1" alt="imagen producto" [class.desactive]='widget.Estado_Agrupador6'>
              </div>
              <div class="col-8 p-1 informacion">
                <p class="mb-2  font-weight-bold code">{{widget.Titulo_Agrupador6}}</p>
                <p class="m-0 font-weight-bold" [style.color]='widget.Color_Descripcion1'>{{widget.Agrupador6_Descrip1}}
                </p>
                <p class="m-0 text-muted" [style.color]='widget.Color_Descripcion2'>{{widget.Agrupador6_Descrip2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
