.card {
  height: 12rem;
  width: 11.5rem;
}

.titulo {
  color: #00af9b;
}

.valor{
  color: black;
  font-size: 0.6rem;
  font-weight: 400;
  margin-top: -1rem;
}

.etiqueta{
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  margin-top: -0.5rem;
}

.barra{
  animation: animate 1 1s;
  transition: 4ms;
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  opacity: 1;
  background-color: #ff3078;
}

@keyframes animate {
  0% {
    height: 0;
    /* height: 0%; */
  }

  100% {
    top: 0%;
    /* height: 100%; */
  }
}
