<div class="row justify-content-center">
  <div class="col-auto" *ngFor="let widget of widgets; let i = index">
    <div class="card">
      <p class="m-1 titulo font-weight-bold">{{widget.Titulo}}</p>
      <div class="card-body p-0">
        <div class="row align-items-end m-0 p-0 h-100 w-100">
          <div class="col h-25 m-1 p-0 text-center barra" [class.active]="widget.Columna_Resaltada == 3">
            <p class="valor">{{widget.Valor3}}</p>
            <p class="etiqueta">{{widget.Etiqueta3}}</p>
          </div>
          <div class="col h-75 mb-1 p-0 text-center barra" [class.active]="widget.Columna_Resaltada == 1">
            <p class="valor">{{widget.Valor1}}</p>
            <p class="etiqueta">{{widget.Etiqueta1}}</p>
          </div>
          <div class="col h-50 m-1 p-0 text-center align-text-bottom barra" [class.active]="widget.Columna_Resaltada == 2">
            <p class="valor">{{widget.Valor2}}</p>
            <p class="etiqueta">{{widget.Etiqueta2}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
