<div class="row" >
  <div class="col-12 d-flex m-2" *ngFor="let widget of widgets; let i = index">
    <div class="card">
      <div class="card-body pb-5">
        <p class="card-title">{{widget.Titulo}}</p>
        <div class="podio b2 h-100 w-100 d-flex">
          <div class="third-place m-1" [class.active]="widget.Columna_Resaltada == 3">
            <div class="cuantity-third-place">{{widget.Valor3}}</div>
            <div class="font-weight-bold text-center">{{widget.Etiqueta3}}</div>
          </div>
          <div class="first-place m-1" [class.active]="widget.Columna_Resaltada == 1">
            <div class="cuantity-first-place">{{widget.Valor1}}</div>
            <div class="font-weight-bold text-center">{{widget.Etiqueta1}}</div>
          </div>
          <div class="second-place m-1" [class.active]="widget.Columna_Resaltada == 2">
            <div class="cuantity-second-place">{{widget.Valor2}}</div>
            <div class="font-weight-bold text-center">{{widget.Etiqueta2}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>




<!-- <div class="podio-container animated fadeIn delay-0.5s">
  <div class="for-of-podios">
    <div class="card">
      <div class="card-body">
        <p class="card-title">{{titulo}}</p>
        <div class="podio">
          <div class="third-place" [class.active.background-color]='color1' [class.active]="resaltado == 3">
            <div class="cuantity-third-place">{{valor3}}</div>
            <div class="reward-third-place">{{etiqueta3}}</div>
          </div>
          <div class="first-place" [class.active.background-color]='color1' [class.active]="resaltado == 1">
            <div class="cuantity-first-place">{{valor1}}</div>
            <div class="reward-first-place">{{etiqueta1}}</div>
          </div>
          <div class="second-place" [class.active.background-color]='color1' [class.active]="resaltado == 2">
            <div class="cuantity-second-place">{{valor2}}</div>
            <div class="reward-second-place">{{etiqueta2}}</div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div> -->
