<div class="container-fluid animated fadeIn">

  <div class="row" *ngIf="bloque.tipo === 'bloque_1_3'">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col text-left">
              {{bloque.titulo}}
            </div>
            <div class="col text-right">
              <a href="#" (click)="expandirBloque()"><i class="fa fa-expand"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row animated fadeIn" [ngClass]="{'inactive': bloque.expandido}">
            <div class="col">
              <app-constructor-widget [tipoWidget]="widgetsPosicion2"></app-constructor-widget>
            </div>
          </div>
          <div class="row animated fadeIn" [ngClass]="{'inactive': !bloque.expandido}">
            <div class="col-2 border-right">
              <app-constructor-widget [tipoWidget]="widgetsPosicion1"></app-constructor-widget>
            </div>
            <div class="col-10 m-0">
              <div class="row">
                <div class="col border-bottom pl-0">
                  <app-constructor-widget [tipoWidget]="widgetsPosicion2"></app-constructor-widget>
                </div>
              </div>
              <div class="row">
                <div class="col border-bottom">
                  <app-constructor-widget [tipoWidget]="widgetsPosicion3"></app-constructor-widget>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <app-constructor-widget [tipoWidget]="widgetsPosicion4"></app-constructor-widget>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row" *ngIf="bloque.tipo === 'bloque_2_0'">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col text-left">
              {{bloque.titulo}}
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col" *ngFor="let widget of widgets">
              <app-constructor-widget [tipoWidget]="widget"></app-constructor-widget>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row" *ngIf="bloque.tipo === 'bloque_0_2'">
    <div class="col" *ngFor="let widget of widgets">
      <app-constructor-widget [tipoWidget]="widget"></app-constructor-widget>
    </div>
  </div>

  <div class="row" *ngIf="bloque.tipo === 'bloque_sencillo'">
    <div class="col" *ngFor="let widget of widgets">
      <app-constructor-widget [tipoWidget]="widget"></app-constructor-widget>
    </div>
  </div>

  <div class="row" *ngIf="bloque.tipo === 'bloque_invisible'">
    <div class="col" *ngFor="let widget of widgets">
      <app-constructor-widget [tipoWidget]="widget"></app-constructor-widget>
    </div>
  </div>
</div>
