<!-- Constructor para el widget tipo meta -->
<app-widget-meta *ngIf="tipoWidget.tipo === 'meta'" [widgets]="listaWidgets"></app-widget-meta>

<!-- Constructor para el widget tipo podio -->
<app-widget-podio *ngIf="tipoWidget.tipo === 'podio'" [widgets]="listaWidgets"></app-widget-podio>

<!-- Constructor para el widget tipo barra -->
<app-widget-barra *ngIf="tipoWidget.tipo === 'barra'" [widgets]="listaWidgets"></app-widget-barra>

<!-- Constructor para el widget tipo producto -->
<app-widget-producto *ngIf="tipoWidget.tipo === 'producto'" [widgets]="listaWidgets"></app-widget-producto>

<!-- Constructor para el widget tipo datos cliente -->
<app-widget-dato *ngIf="tipoWidget.tipo === 'dato'" [widgets]="listaWidgets"></app-widget-dato>

<!-- Constructor para el widget tipo donas lineas -->
<app-widget-dona-linea *ngIf="tipoWidget.tipo === 'donaslineas'" [widgets]="listaWidgets"></app-widget-dona-linea>

<!-- Constructor para el widget tipo indicador cot lineas -->
<app-widget-cot-linea *ngIf="tipoWidget.tipo === 'indicadorcotlineas'" [widgets]="listaWidgets"></app-widget-cot-linea>

<!-- Constructor para el widget tipo indicador cot lineas -->
<app-widget-cot *ngIf="tipoWidget.tipo === 'indicadorcot'" [widgets]="listaWidgets"></app-widget-cot>

<!-- Constructor para el widget tipo imagen -->
<app-widget-imagen *ngIf="tipoWidget.tipo === 'imagen'" [widgets]="listaWidgets"></app-widget-imagen>
