/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.inactive {
  display: none !important;
}
.card {
  -webkit-box-shadow: 8px 8px 6px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 8px 6px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 6px -5px rgba(0, 0, 0, 0.7);
}
a{
  cursor: pointer;
  color: #e8428c !important;
}
